.product-item-component {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 150px;
  padding: 20px 25px 20px 25px;
  background-color: #ffffff;
  border: 2px solid #898989;
  border-radius: 5px;
  overflow: auto;
  scrollbar-color: #555 #f5f5f5;
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }

  .product-item-image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-right: 20px;
    overflow: hidden;

    .image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .product-item-information {
    display: flex;
    width: 65%;
    flex-direction: column;
    font-family: "Jheronimus Regular";
    font-weight: bold;
    font-size: 15px;

    .product-item-name {
      margin-bottom: 10px;
    }

    .product-item-price {
      margin-bottom: 10px;
    }

    .product-item-description {
      font-size: 10px;
    }
  }
}
